@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  ul {
    @apply list-disc pl-4;
  }

  ul>li {
    @apply mb-2;
  }
}

h1,
h2,
h3 {
  font-weight: bold;
}

body,
h1,
h2,
h3,
p,
video {
  margin: 0 auto;
  padding: 10px;
  max-width: 80ch;
  width: 100%;
}

table {
  @apply w-full border-collapse border border-transparent;
}

/* Apply styles to table cells */
table td {
  @apply py-2 px-4 border border-transparent;
  margin-right: 500px;
}

/* Apply styles to table headers */
table th {
  @apply py-2 px-4 border border-transparent font-bold;
}



body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #f3f3f3;
  background: linear-gradient(135deg, #1a1a1a, #2d2d2d);
  min-height: 100vh;
}

ul,
ol {
  padding: 0px;
}

li {
  padding: 0px;
  margin-left: 40px;
}

a {
  color: rgb(175, 175, 255);
}

a:visited {
  color: rgb(169, 123, 169);
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  padding: 10px 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav a {
  margin-right: 20px;
  text-decoration: none;
}

.main-content {
  margin-top: 20px;
}

.section {
  margin-bottom: 40px;
}

blockquote {
  padding: 10px;

}

blockquote p {
  font-style: italic;
  margin-left: 20px;
}

blockquote footer {
  text-align: right;
}


#outer-container {
  display: flex;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
}

.project-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid black;
  color: white;
  background-color: #a0a0a0;
  margin: 20px 10px;
}

.selected-project-button {
  background-color: #b67878;
}

.project-button-hover:hover {
  background-color: #aeaeae;
}

.button-link {
  background-color: #499ca7;
  border: 1px solid black;
  border-radius: 2px;
  color: white;
  padding: 5px 5px;
}

.button-link:hover {
  background-color: #905e35;
}

.button-details {
  color: black;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px 5px;
}

.button-details:hover {
  background-color: #56b9b3;
}

.footer {
  background-color: #2d3748;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav a {
    margin: 10px 0;
  }
}

.photo-container {
  display: flex;
  padding: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.photo {
  margin-top: 15px;
  margin-right: 10px;
  max-width: 100%;
  max-height: 188px;
  padding: 0px;
  border-radius: 4px;
}

/* Hide the photo when screen width is sufficiently small (i.e. very zoomed in). */
@media only screen and (max-width: 500px) {
  .photo-container {
    display: flex;
    padding: 0px;
  }

  .photo {
    display: none;
  }
}


/* Sidebar content */
.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.sidebar {
  font-size: 1rem;
  border-right: 1px dotted #ccc;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  /* Extend sidebar to the bottom of the page */
  left: 0;
  width: 155px;
  /* Set a fixed width */
  display: flex;
  flex-direction: column;
  /* Arrange contents vertically */
  justify-content: center;
  /* Center items vertically */
}

/* Center text horizontally and vertically */
.sidebar ul {
  list-style-type: none;
  /* Remove default list styles */
  padding: 0;
  margin: 0;
  position: absolute;
  /* Position the list absolutely */
  top: 50%;
  /* Position the top of the list 50% from the top */
  transform: translateY(-50%);
  /* Center the list vertically */
}

.sidebar li {
  margin: 10px 0;
  /* Add vertical spacing between list items */
}

/* Adjust the top position of the list based on its height */
.sidebar ul {
  top: calc(50% - (1.5em) / 2);
  /* Adjust the value as per the number of list items */
}



.sidebar a {
  text-decoration: none;
  /* Remove default underline */
  color: inherit;
  /* Inherit color from parent */
}

.sidebar a:hover {
  text-decoration: underline;
  /* Underline link on hover */
}

#page-wrap {
  flex-grow: 1;
  /* Take up remaining space */
  padding: 20px;

  width: calc(100%);
  /* Subtract sidebar width */
}

/* Make sidebar disappear
   when sufficiently zoomed in,
   and toggle menu appear.

   And vice versa.
*/

@media (max-width: 1150px) {
  .sidebar {
    display: none;
  }

  .sidebar-toggle {
    display: block;
    /* Or any other desired display value */
  }
}

@media (min-width: 1151px) {
  .sidebar {
    display: block;
    /* Or any other desired display value */
  }

  .sidebar-toggle {
    display: none;
  }
}

.toggle-content {
  display: flex;
  /* Use flexbox to align items horizontally */
  align-items: center;
  /* Center items vertically */
}

.links-list {
  list-style: none;
  padding: 0px;
}

.link-item {
  font-size: 0.8rem;
  /* Adjust the font size */
  display: inline-block;
  /* Display list items horizontally */
  margin: 15px;
  /* Add spacing between items */
}

.link-item a {
  text-decoration: none;
  /* Remove default underline */
  color: #c6c6c6;
  /* Set link color */
}

.link-item a:hover {
  text-decoration: underline;
  /* Underline link on hover */
  color: #b67878;
  /* Change link color on hover */
}

/* Contact Form  */

form {
  max-width: 400px;
  /* Adjust the width of the form */
  padding: 10px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}