@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('../styles/Sidebar.css') */

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  ul {
    @apply list-disc pl-4;
  }
  
  ul > li {
    @apply mb-2;
  }
}

body, h1, h2, h3, p {
  margin: 0 auto;
  padding: 10px;
  max-width: 80ch;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #202020;
  background-color: #dedede;
}

ul, ol {
  padding: 0px;
}

li {
  padding: 0px;
  margin-left: 40px;
}

a {
  color: rgb(41, 41, 153);
}

a:visited {
  color: purple;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
.header {
  background-color: #4a5568;
  color: #fff;
  padding: 10px 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Navigation Styles */
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

/* Main Content Styles */
.main-content {
  margin-top: 20px;
}

.section {
  margin-bottom: 40px;
}

/* Button Styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
}

.project-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid black;
  color: white;
  background-color: #a0a0a0;
  margin-right: 10px;
  margin-top: 20px;
}

.selected-project-button {  
  background-color: #5180ff;
}

.project-button-hover:hover {
  background-color: #aeaeae; /* Change background color to green on hover */
  /* Add any additional styles for the hover effect */
}

.button-link {
  background-color: #00abc2;
  border: 1px solid black;
  border-radius: 2px;
  color: white;
  padding: 5px 5px;
  
}

.button-link:hover {
  background-color: #fb923c;
}

.button-technical {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px 5px;
  color: 'black';
}

.button-technical:hover {
  background-color: #56b9b3;
}


/* Footer Styles */
.footer {
  background-color: #2d3748;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav a {
    margin: 10px 0;
  }
}

.photo-container {
  display: flex;
  padding: 10px;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  /* background-color: #68d391; */
  /* color: #fff; */
  border-radius: 5px;
  cursor: pointer;
}
.photo {
  margin-right: 10px;
  max-width: 100%;
  max-height: 230px;
  border: 2px solid #888888;
  padding: 0px;
  border-radius: 8px;
}

/* Hide the photo when screen width is sufficiently small (i.e. very zoomed in). */
@media only screen and (max-width: 500px) {
  .photo-container {
    display: flex;
    padding: 0px;
  }
  .photo {
    display: none;
  }
}


/* Sidebar content */
.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}


.sidebar {
  font-size: 1rem;
  background-color: #c5c5c5;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0; /* Extend sidebar to the bottom of the page */
  left: 0;
  width: 155px; /* Set a fixed width */
  display: flex;
  flex-direction: column; /* Arrange contents vertically */
  justify-content: center; /* Center items vertically */
}

/* Center text horizontally and vertically */
.sidebar ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
  position: absolute; /* Position the list absolutely */
  top: 50%; /* Position the top of the list 50% from the top */
  transform: translateY(-50%); /* Center the list vertically */
}

.sidebar li {
  margin: 10px 0; /* Add vertical spacing between list items */
}

/* Adjust the top position of the list based on its height */
.sidebar ul {
  top: calc(50% - (1.5em ) / 2); /* Adjust the value as per the number of list items */
}



.sidebar a {
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Inherit color from parent */
}

.sidebar a:hover {
  text-decoration: underline; /* Underline link on hover */
}

#page-wrap {
  flex-grow: 1; /* Take up remaining space */
  padding: 20px;

  width: calc(100%); /* Subtract sidebar width */
}

/* Make sidebar disappear
   when sufficiently zoomed in,
   and toggle menu appear.

   And vice versa.
*/

@media (max-width: 1150px) {
  .sidebar {
    display: none;
  }

  .sidebar-toggle {
    display: block; /* Or any other desired display value */
  }
}

@media (min-width: 1151px) {
  .sidebar {
    display: block; /* Or any other desired display value */
  }
  .sidebar-toggle {
    display: none;
  }
}

.toggle-content {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Center items vertically */
}

.links-list {
  list-style: none;
  padding: 0px;
}

.link-item {
  font-size: 0.8rem; /* Adjust the font size */
  display: inline-block; /* Display list items horizontally */
  margin: 15px; /* Add spacing between items */
}

.link-item a {
  text-decoration: none; /* Remove default underline */
  color: #333; /* Set link color */
}

.link-item a:hover {
  text-decoration: underline; /* Underline link on hover */
  color: #666; /* Change link color on hover */
}

/* Contact Form  */

form {
  max-width: 400px; /* Adjust the width of the form */
  padding: 10px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}